body{
  background-color: #E5E5E5;
}

.App {
  margin: 0;
}

.auth{
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 250px;
  padding-left: 400px;
}

.title-auth{
  font-style: normal;
  font-size: 75px;
  color: #000000;
  width: 500px;
  margin-right: 200px;
}

.procad{
  margin: 0;
  font-weight: bold;
}

.subtitle{
  margin: 0;
  font-size: 40px;
}

.signin{
  width: 500px;
}
